html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -150px;
   float:left
}
div#container
{
   width: 700px;
   height: 300px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#wb_addStoreForm
{
   background-color: #FAFAFA;
   border: 0px #000000 solid;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#nameStore
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#addressStore
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#gpsStore
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#addStoreButton
{
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
}
#addStoreButton .ui-button
{
   position: absolute;
}
#addStoreButton .ui-button-text-icon .ui-button-icon-primary,
#addStoreButton .ui-button-text-icons .ui-button-icon-primary,
#addStoreButton .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#addStoreButton .ui-button-text-icons .ui-button-icon-secondary,
#addStoreButton .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#addressStore
{
   position: absolute;
   left: 194px;
   top: 110px;
   width: 327px;
   height: 18px;
   line-height: 18px;
   z-index: 5;
}
#wb_uid1
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid2
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid3
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text3
{
   position: absolute;
   left: 12px;
   top: 13px;
   width: 466px;
   height: 16px;
   z-index: 0;
   text-align: left;
}
#wb_Text4
{
   position: absolute;
   left: 27px;
   top: 66px;
   width: 83px;
   height: 16px;
   z-index: 2;
   text-align: left;
}
#wb_Text5
{
   position: absolute;
   left: 27px;
   top: 112px;
   width: 178px;
   height: 16px;
   z-index: 3;
   text-align: left;
}
#wb_Text6
{
   position: absolute;
   left: 27px;
   top: 161px;
   width: 178px;
   height: 16px;
   z-index: 4;
   text-align: left;
}
#addStoreButton
{
   position: absolute;
   left: 394px;
   top: 206px;
   width: 127px;
   height: 24px;
   z-index: 7;
}
#gpsStore
{
   position: absolute;
   left: 194px;
   top: 155px;
   width: 327px;
   height: 18px;
   line-height: 18px;
   z-index: 6;
}
#wb_addStoreForm
{
   position: absolute;
   left: 6px;
   top: 5px;
   width: 625px;
   height: 257px;
   z-index: 9;
}
#nameStore
{
   position: absolute;
   left: 194px;
   top: 64px;
   width: 327px;
   height: 18px;
   line-height: 18px;
   z-index: 1;
}
#wb_uid0
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
