html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -543px;
   float:left
}
div#container
{
   width: 970px;
   height: 1086px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#Button2
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Button3
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Form1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#AdvancedButton1
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton2
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton3
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton4
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#AdvancedButton5
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Combobox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#AutoComplete2
{
   border: 2px #A9A9A9 solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
 .ui-menu-item
{
   font-family: Arial;
   font-size: 13px;
}
#jQueryButton1
{
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
}
#jQueryButton1 .ui-button
{
   position: absolute;
}
#jQueryButton1 .ui-button-text-icon .ui-button-icon-primary,
#jQueryButton1 .ui-button-text-icons .ui-button-icon-primary,
#jQueryButton1 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#jQueryButton1 .ui-button-text-icons .ui-button-icon-secondary,
#jQueryButton1 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#wb_uid19
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid1
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid2
{
   text-align: left;
}
#basicdate
{
   color: #000000;
   font-size: 12px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 5px;
   width: 70px;
   height: 16px;
   z-index: 20;
   text-align: left;
}
#RadioButton1
{
   position: absolute;
   left: 146px;
   top: 42px;
   z-index: 5;
}
#wb_Text2
{
   position: absolute;
   left: 170px;
   top: 2px;
   width: 127px;
   height: 19px;
   z-index: 26;
   text-align: left;
}
#wb_uid3
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#RadioButton2
{
   position: absolute;
   left: 146px;
   top: 82px;
   z-index: 6;
}
#wb_uid4
{
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 379px;
   top: 0px;
   width: 300px;
   height: 65px;
   z-index: 19;
}
#wb_Text3
{
   position: absolute;
   left: 79px;
   top: 22px;
   width: 451px;
   height: 16px;
   text-align: center;
   z-index: 2;
}
#RadioButton3
{
   position: absolute;
   left: 146px;
   top: 124px;
   z-index: 7;
}
#wb_Text4
{
   position: absolute;
   left: 15px;
   top: 12px;
   width: 89px;
   height: 16px;
   z-index: 4;
   text-align: left;
}
#wb_uid5
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text5
{
   position: absolute;
   left: 178px;
   top: 43px;
   width: 154px;
   height: 16px;
   z-index: 8;
   text-align: left;
}
#wb_uid6
{
   text-align: left;
}
#wb_Text6
{
   position: absolute;
   left: 177px;
   top: 83px;
   width: 154px;
   height: 16px;
   z-index: 9;
   text-align: left;
}
#wb_uid7
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Html1
{
   position: absolute;
   left: 61px;
   top: 6px;
   width: 120px;
   height: 21px;
   z-index: 21;
}
#wb_uid20
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text7
{
   position: absolute;
   left: 178px;
   top: 125px;
   width: 154px;
   height: 16px;
   z-index: 10;
   text-align: left;
}
#wb_uid8
{
   text-align: left;
}
#Image1
{
   width: 300px;
   height: 65px;
}
#wb_Text10
{
   position: absolute;
   left: 43px;
   top: 176px;
   width: 250px;
   height: 16px;
   z-index: 15;
   text-align: left;
}
#wb_Text8
{
   position: absolute;
   left: 316px;
   top: 124px;
   width: 44px;
   height: 16px;
   z-index: 11;
   text-align: left;
}
#wb_uid10
{
   color: #000000;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid9
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text9
{
   position: absolute;
   left: 314px;
   top: 42px;
   width: 154px;
   height: 16px;
   z-index: 13;
   text-align: left;
}
#wb_uid11
{
   text-align: center;
}
#wb_uid12
{
   color: #0000FF;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid13
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text14
{
   position: absolute;
   left: 364px;
   top: 124px;
   width: 232px;
   height: 16px;
   z-index: 16;
   text-align: left;
}
#wb_uid14
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton1
{
   position: absolute;
   left: 759px;
   top: 6px;
   width: 60px;
   height: 24px;
   z-index: 22;
}
#wb_Form1
{
   position: absolute;
   left: 212px;
   top: 106px;
   width: 624px;
   height: 88px;
   z-index: 18;
}
#Checkbox1
{
   position: absolute;
   left: 15px;
   top: 175px;
   z-index: 14;
}
#wb_uid15
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Form2
{
   position: absolute;
   left: 218px;
   top: 269px;
   width: 618px;
   height: 208px;
   z-index: 28;
}
#AdvancedButton2
{
   position: absolute;
   left: 677px;
   top: 6px;
   width: 92px;
   height: 24px;
   z-index: 23;
}
#jQueryButton1
{
   position: absolute;
   left: 501px;
   top: 170px;
   width: 95px;
   height: 26px;
   z-index: 17;
}
#wb_uid16
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton3
{
   position: absolute;
   left: 825px;
   top: 6px;
   width: 67px;
   height: 24px;
   z-index: 24;
}
#Button2
{
   position: absolute;
   left: 12px;
   top: 60px;
   width: 96px;
   height: 24px;
   z-index: 0;
}
#Combobox1
{
   position: absolute;
   left: 312px;
   top: 83px;
   width: 284px;
   height: 20px;
   z-index: 12;
}
#wb_uid17
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton4
{
   position: absolute;
   left: 877px;
   top: 6px;
   width: 103px;
   height: 24px;
   z-index: 25;
}
#AutoComplete2
{
   position: absolute;
   left: 121px;
   top: 58px;
   width: 384px;
   height: 23px;
   line-height: 23px;
   z-index: 3;
}
#Button3
{
   position: absolute;
   left: 518px;
   top: 60px;
   width: 96px;
   height: 24px;
   z-index: 1;
}
#wb_uid18
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton5
{
   position: absolute;
   left: 283px;
   top: 0px;
   width: 96px;
   height: 24px;
   z-index: 27;
}
#wb_uid0
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
