html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -543px;
   float:left
}
div#container
{
   width: 970px;
   height: 1086px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#AdvancedButton1
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton2
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton3
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton4
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#AdvancedButton5
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Form3
{
   background-color: #FFFFFF;
   border: 0px #000000 solid;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#Combobox2
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Combobox4
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#Table1
{
   border: 1px #C0C0C0 solid;
   background-color: transparent;
   border-spacing: 0px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #0000FF;
   border: 0px #C0C0C0 none;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   width: 108px;
   height: 14px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 14px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #666666;
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_uid19
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid1
{
   text-align: left;
}
#Combobox4
{
   position: absolute;
   left: 438px;
   top: 154px;
   width: 96px;
   height: 20px;
   z-index: 2;
}
#wb_uid2
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#basicdate
{
   color: #000000;
   font-size: 12px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 5px;
   width: 70px;
   height: 16px;
   z-index: 7;
   text-align: left;
}
#wb_uid70
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_Text2
{
   position: absolute;
   left: 170px;
   top: 2px;
   width: 127px;
   height: 19px;
   z-index: 13;
   text-align: left;
}
#wb_uid3
{
   text-align: left;
}
#wb_uid71
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid60
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_Text3
{
   position: absolute;
   left: 12px;
   top: 103px;
   width: 144px;
   height: 16px;
   z-index: 3;
   text-align: left;
}
#wb_uid4
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Image1
{
   position: absolute;
   left: 379px;
   top: 0px;
   width: 300px;
   height: 65px;
   z-index: 6;
}
#wb_uid61
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid50
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_Text4
{
   position: absolute;
   left: 18px;
   top: 31px;
   width: 197px;
   height: 16px;
   z-index: 5;
   text-align: left;
}
#wb_uid5
{
   text-align: left;
}
#wb_uid62
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid51
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid40
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#Table1
{
   position: absolute;
   left: 232px;
   top: 273px;
   width: 626px;
   height: 222px;
   z-index: 16;
}
#wb_uid6
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid63
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid52
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid41
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid30
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   height: 18px;
}
#wb_uid7
{
   text-align: left;
}
#Html1
{
   position: absolute;
   left: 61px;
   top: 6px;
   width: 120px;
   height: 21px;
   z-index: 8;
}
#wb_uid64
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid53
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid42
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid31
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid20
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid8
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Image1
{
   width: 300px;
   height: 65px;
}
#wb_uid65
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid54
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid43
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid32
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid21
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid10
{
   text-align: center;
}
#wb_uid9
{
   color: #000000;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid66
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid55
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid44
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid33
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid22
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   height: 18px;
}
#wb_Text11
{
   position: absolute;
   left: 292px;
   top: 127px;
   width: 154px;
   height: 16px;
   z-index: 0;
   text-align: left;
}
#wb_uid11
{
   color: #0000FF;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid67
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid56
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid45
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid34
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid23
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid12
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid68
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid57
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid46
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid35
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid24
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid13
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_CssMenu1
{
   position: absolute;
   left: 307px;
   top: 508px;
   width: 496px;
   height: 22px;
   z-index: 17;
}
#wb_uid69
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid58
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid47
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid36
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: right;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid25
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid14
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text14
{
   position: absolute;
   left: 9px;
   top: 68px;
   width: 220px;
   height: 16px;
   z-index: 4;
   text-align: left;
}
#AdvancedButton1
{
   position: absolute;
   left: 759px;
   top: 6px;
   width: 60px;
   height: 24px;
   z-index: 9;
}
#wb_uid59
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 18px;
}
#wb_uid48
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_uid37
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid26
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid15
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton2
{
   position: absolute;
   left: 677px;
   top: 6px;
   width: 92px;
   height: 24px;
   z-index: 10;
}
#wb_uid49
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#wb_uid38
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   height: 18px;
}
#wb_uid27
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid16
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   width: 320px;
   height: 18px;
}
#wb_Form3
{
   position: absolute;
   left: 221px;
   top: 85px;
   width: 626px;
   height: 183px;
   z-index: 15;
}
#AdvancedButton3
{
   position: absolute;
   left: 825px;
   top: 6px;
   width: 67px;
   height: 24px;
   z-index: 11;
}
#wb_uid39
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid28
{
   background-color: #FFA07A;
   border: 1px #C0C0C0 solid;
   text-align: right;
   vertical-align: top;
   width: 102px;
   height: 18px;
}
#wb_uid17
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton4
{
   position: absolute;
   left: 877px;
   top: 6px;
   width: 103px;
   height: 24px;
   z-index: 12;
}
#wb_uid29
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid18
{
   background-color: transparent;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: top;
   width: 110px;
   height: 18px;
}
#Combobox2
{
   position: absolute;
   left: 13px;
   top: 153px;
   width: 284px;
   height: 20px;
   z-index: 1;
}
#AdvancedButton5
{
   position: absolute;
   left: 283px;
   top: 0px;
   width: 96px;
   height: 24px;
   z-index: 14;
}
#wb_uid0
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
