html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -543px;
   float:left
}
div#container
{
   width: 970px;
   height: 1086px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#Button2
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Button3
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Form1
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Image1
{
   border: 0px #000000 solid;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#AdvancedButton1
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton2
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton3
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#AdvancedButton4
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#AdvancedButton5
{
   border: 1px #FFFFFF solid;
   background-color: transparent;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#AutoComplete2
{
   border: 2px #A9A9A9 solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
 .ui-menu-item
{
   font-family: Arial;
   font-size: 13px;
}
#wb_Form2
{
   background-color: transparent;
   border: 0px #000000 solid;
}
#Button4
{
   border: 1px #A9A9A9 solid;
   background-color: #F0F0F0;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#Editbox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color :#000000;
   font-family: Arial;
   font-size: 13px;
   text-align: left;
   vertical-align: middle;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#Combobox1
{
   border: 1px #A9A9A9 solid;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Editbox1
{
   position: absolute;
   left: 97px;
   top: 79px;
   width: 113px;
   height: 18px;
   line-height: 18px;
   z-index: 5;
}
#wb_uid1
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid2
{
   text-align: left;
}
#basicdate
{
   color: #000000;
   font-size: 12px;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}
#wb_Text1
{
   position: absolute;
   left: 0px;
   top: 5px;
   width: 70px;
   height: 16px;
   z-index: 13;
   text-align: left;
}
#wb_Text2
{
   position: absolute;
   left: 170px;
   top: 2px;
   width: 127px;
   height: 19px;
   z-index: 19;
   text-align: left;
}
#wb_uid3
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid4
{
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 379px;
   top: 0px;
   width: 300px;
   height: 65px;
   z-index: 12;
}
#wb_Text3
{
   position: absolute;
   left: 79px;
   top: 22px;
   width: 451px;
   height: 16px;
   text-align: center;
   z-index: 2;
}
#wb_Text4
{
   position: absolute;
   left: 23px;
   top: 82px;
   width: 63px;
   height: 16px;
   text-align: center;
   z-index: 6;
}
#wb_uid5
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Text5
{
   position: absolute;
   left: 13px;
   top: 10px;
   width: 63px;
   height: 16px;
   text-align: center;
   z-index: 7;
}
#wb_uid6
{
   text-align: left;
}
#wb_Text6
{
   position: absolute;
   left: 24px;
   top: 44px;
   width: 63px;
   height: 16px;
   text-align: center;
   z-index: 8;
}
#wb_uid7
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#Html1
{
   position: absolute;
   left: 61px;
   top: 6px;
   width: 120px;
   height: 21px;
   z-index: 14;
}
#wb_Text7
{
   position: absolute;
   left: 350px;
   top: 11px;
   width: 217px;
   height: 16px;
   z-index: 10;
   text-align: left;
}
#wb_uid8
{
   text-align: left;
}
#Image1
{
   width: 300px;
   height: 65px;
}
#wb_uid10
{
   color: #000000;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid9
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid11
{
   text-align: center;
}
#wb_uid12
{
   color: #0000FF;
   font-family: Arial;
   font-size: 16px;
}
#wb_uid13
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_uid14
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton1
{
   position: absolute;
   left: 759px;
   top: 6px;
   width: 60px;
   height: 24px;
   z-index: 15;
}
#wb_Form1
{
   position: absolute;
   left: 212px;
   top: 106px;
   width: 624px;
   height: 101px;
   z-index: 11;
}
#wb_uid15
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#wb_Form2
{
   position: absolute;
   left: 211px;
   top: 216px;
   width: 624px;
   height: 152px;
   z-index: 22;
}
#AdvancedButton2
{
   position: absolute;
   left: 677px;
   top: 6px;
   width: 92px;
   height: 24px;
   z-index: 16;
}
#wb_uid16
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
#AdvancedButton3
{
   position: absolute;
   left: 825px;
   top: 6px;
   width: 67px;
   height: 24px;
   z-index: 17;
}
#Button2
{
   position: absolute;
   left: 12px;
   top: 60px;
   width: 96px;
   height: 24px;
   z-index: 0;
}
#Combobox1
{
   position: absolute;
   left: 98px;
   top: 11px;
   width: 235px;
   height: 21px;
   z-index: 9;
}
#AdvancedButton4
{
   position: absolute;
   left: 877px;
   top: 6px;
   width: 103px;
   height: 24px;
   z-index: 18;
}
#AutoComplete2
{
   position: absolute;
   left: 121px;
   top: 58px;
   width: 384px;
   height: 23px;
   line-height: 23px;
   z-index: 3;
}
#Button3
{
   position: absolute;
   left: 518px;
   top: 60px;
   width: 96px;
   height: 24px;
   z-index: 1;
}
#Button4
{
   position: absolute;
   left: 115px;
   top: 120px;
   width: 96px;
   height: 24px;
   z-index: 4;
}
#AdvancedButton5
{
   position: absolute;
   left: 283px;
   top: 0px;
   width: 96px;
   height: 24px;
   z-index: 20;
}
#wb_uid0
{
   color: #000000;
   font-family: Arial;
   font-size: 13px;
}
